[package]

name = "i2cdev"
version = "0.2.0"
authors = ["Paul Osborne <osbpau@gmail.com>"]
license = "MIT/Apache-2.0"
repository = "https://github.com/posborne/rust-i2cdev"
homepage = "https://github.com/posborne/rust-i2cdev"
documentation = "http://posborne.github.io/rust-i2cdev"
description = """
Provides API for safe access to Linux i2c device interface.

https://www.kernel.org/doc/Documentation/i2c/dev-interface
"""

[dependencies]
libc = "^0.2.2"
bitflags = "^0.3.3"
byteorder = "^0.4.2"
nix = "^0.5.0"

[dev-dependencies]
docopt = "^0.6"
